---
import { BASIC_INFO } from "../consts";
const {prev, next} = Astro.props;
---


<nav class="post-pagination">

    {
        prev != null && (
            <a class="newer-posts" href={BASIC_INFO.SITE_URL + "post/" + prev.id}>
                上一篇<br>{prev.title}
            </a>
        )
    }

    <span class="page-number"></span>

    {
        next != null && (
            <a class="older-posts" href={BASIC_INFO.SITE_URL + "post/" + next.id}>
                下一篇<br>{next.title}
            </a>
        )
    }

</nav>