---
import { BASIC_INFO } from "../consts";

function is_home() {
    return Astro.url.pathname === "/";
}

function getFirstParam(url: any) {
    const parts = url.split("/");
    return parts.length > 2 ? parts[1] : parts.join("");
}

function is_current(url: any) {
    return getFirstParam(Astro.url.pathname) === url;
}
---

<div ref="sideContainer" class="side-container">
    <a
        class={"a-block nav-head " +
            (is_home() || is_current("page") ? "active" : "")}
        href={"/"}
    >
        <div class="nav-title">
            {BASIC_INFO.SITE_TITLE}
        </div>
        <div class="nav-subtitle">
            {BASIC_INFO.SITE_DESC}
        </div>
    </a>

    <div class="nav-link-list">
        <a
            class={"a-block no-tint nav-link-item " +
                (is_current("archives") ? "active" : "")}
            href={"/" + "archives"}
        >
            归档
        </a>
        <a
            class={"a-block no-tint nav-link-item " +
                (is_current("category") ? "active" : "")}
            href={"/" + "category"}
        >
            分类
        </a>
        <a
            class={"a-block no-tint nav-link-item " +
                (is_current("search") ? "active" : "")}
            href={"/" + "search"}
        >
            搜索
        </a>
        <!-- 还应该有点东西 -->

        <a class="a-block no-tint nav-link-item" href={"/" + "rss.xml"}>
            RSS
        </a>

        <a
            class="a-block no-tint nav-link-item"
            href="https://www.travellings.cn/go.html"
            target="_blank"
            rel="noopener"
        >
            开往
        </a>
    </div>

    <div class="nav-footer">
        Proudly published with Astro<br />
        Theme Journal by Histcat<br />
        Adapted from <a
            href="https://github.com/SumiMakito/hexo-theme-journal/"
            target="_blank"
            rel="noreferrer noopener"
            >Journal.<br />
        </a>
    </div>
</div>
