<div class="single-column-footer">
    Proudly published with Astro<br />
    Theme Journal by Histcat<br />
    Adapted from <a
    href="https://github.com/SumiMakito/hexo-theme-journal/"
    target="_blank"
    rel="noreferrer noopener">Journal.<br />
</div>